header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 12px;
}

nav a:hover{
    color: yellow;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 6px;
    margin: 20px;
    border: 2px solid rgb(137, 29, 226);
}
h2{
    font-size: 30px;
}
button{
    background-color: antiquewhite;
    border: 1px solid black;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
}
body{
background-color: burlywood;
}
footer{
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.ttml{
    border: 1px solid rgb(37, 2, 2);
    background-color: antiquewhite;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
}
textarea{
border: 2px solid black;
padding: 5px;
color: black;
padding-left: 15px;
margin: 5px;
border-radius: 3px;
width: 95%;
}
input{
    border: 2px solid black;
padding: 5px;
color: black;
padding-left: 15px;
margin: 5px;
border-radius: 3px;
width: 95%;
height: 30px;
}
.contactbutton{
padding: 5px;
margin: 5px;
background-color: beige;

}



    
